.top {
    background-color: rgb(0, 34, 95);
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    height: 48px;
}

header {
    background-color: #c07529;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

.zoznam-aut {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.auto {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    max-width: 300px;
}

.auto img {
    max-width: 100%;
}

footer {
    background-color: #c07529;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a {
    color: #0077ff;
    text-decoration: none;
}

a:hover {
    transition: color 0.7s;
    color: #ff5500;
}

.lista-likes {
    position: absolute;
    top: -48px;
    z-index: 1002;
}